section {
    position: relative;
    overflow: hidden;
}

/* SSECITON WITH SERVICES ID I GIVE BACKGROUND MATHCING TO THE WAVE COLOR */
#services {
    background-color: #A1D5FF;
}

/* section .redwave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("/CodeSchool/public/img/wave.png");
} */

/* IF WWANT THE WAVE WITH ANOTHER COLOR, EDIT THE WAVE PNG, UPLOAD IT GIVE IT A NAME E.G WAVE3.PNG, CREATE A NEW CLASS LETS SAY SECTION . REDWAVE like the one above */

section .wave
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("/img/wave2.png");
}

section .wave1
{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
@keyframes animate
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}

section .wave2
{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
@keyframes animate2
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: -1000px;
    }
}

section .wave3
{
    animation: animate3 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}
@keyframes animate3
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}

section .wave4
{
    animation: animate4 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}
@keyframes animate4
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}


/* IGNORE THIS */
/* 
section .wave.wave4
{
    animation: animate4 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}
@keyframes animate4
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
} */